<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 rescap">

	<Identity
	  Name="xRateExt"
	  Publisher="CN=CA938298-1CC2-4C29-B546-D8367F20D6A1"
	  Version="1.2.0.0" />

	<Properties>
		<DisplayName>xRate</DisplayName>
		<PublisherDisplayName>Othman AMOR</PublisherDisplayName>
		<Logo>Assets\Square150x150Logo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="xRate"
			  Description="Command Palette Extension"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png"
			  AppListEntry="none">
				<uap:DefaultTile
				  Square71x71Logo="Assets\SmallTile.png"
				  Wide310x150Logo="Assets\WideTile.png"
				  Square310x310Logo="Assets\LargeTile.png"
				  ShortName="icon">
					<uap:ShowNameOnTiles>
						<uap:ShowOn Tile="square150x150Logo"/>
						<uap:ShowOn Tile="wide310x150Logo"/>
						<uap:ShowOn Tile="square310x310Logo"/>
					</uap:ShowNameOnTiles>
				</uap:DefaultTile>
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
				<uap:LockScreen BadgeLogo="Assets\BadgeLogo.png" Notification="badge"/>
			</uap:VisualElements>
			<Extensions>
				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<com:ExeServer Executable="xRateExt.exe" Arguments="-RegisterProcessAsComServer" DisplayName="xRate">
							<com:Class Id="12b369dd-0fb9-43e0-a62a-41a414ffc0e7" DisplayName="xRate" />
						</com:ExeServer>
					</com:ComServer>
				</com:Extension>
				<uap3:Extension Category="windows.appExtension">
					<uap3:AppExtension Name="com.microsoft.commandpalette"
					  Id="xrate"
					  DisplayName="xRate">
						<uap3:Properties>
							<Icon>Assets\Square44x44Logo.png</Icon>
							<CmdPalProvider>
								<Activation>
									<CreateInstance ClassId="12b369dd-0fb9-43e0-a62a-41a414ffc0e7" />
								</Activation>
								<SupportedInterfaces>
									<Commands/>
								</SupportedInterfaces>
							</CmdPalProvider>
						</uap3:Properties>
					</uap3:AppExtension>
				</uap3:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Extensions>
		<Extension Category="windows.publisherCacheFolders">
			<PublisherCacheFolders>
				<Folder Name="xrate" />
			</PublisherCacheFolders>
		</Extension>
	</Extensions>

	<Capabilities>
		<Capability Name="internetClient" />
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>